{% extends 'website/base.html' %}

{% block content_space %}
	<h3 class="title">About us</h3>
	
	<p>Hello! Welcome to our about us page.</p>
	
	<p>The Economics and Society website was created to help people that are starting to learn
	about ecnomics and the relationship with the society. The website was created by an Economist 
	and a programmer, both likening the Economics studies.</p>
	
	<p>The website was originally released in 2015, and the publications staryed to be written in 2016.
	As the pubs were released, the people started to come, read and stay with us, making many comments and
	wanting to help us with new articles. So in this time, we started to take people to work with us, volunteers.
	Now we have 100 volunters who works writting the articles, reviewing and checking the grammar to make a good
	document, which a begginner can understand easily. Furthermore, we also have 30 people who works with us, maintening
	the website, updating it. These aren't volunters, we pay these guys</p>
	
	<p>Today, the Economics and Society website is one of the biggest websites about Economics and Society in the world,
	having many branchs in many countries like: United States, United Kingdom, Brazil, Singapure, China, France, Mexico, 
	etc.</p>
	
	<p>That's it. Thank you for your attention, Have a great day.</p>
{% endblock %}